.home {
  &__article {
    &__textblock {
      line-height: 20px;
      margin: 0px 0 20px;
    }
  }
}

.search {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    &__item {
      flex: 1 1 300px;
      max-width: 310px;
    }
  }
}

.team {
  &__article {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__imgholder {
      position: relative;
      width: 300px;
      border-radius: 15px;
      overflow: hidden;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      &:hover {
        transition: 2s;
        filter: grayscale(0);
      }
      &__img {
        object-fit: contain;
        display: block;
        aspect-ratio: 1/1;
        width: 100%;
        height: auto;
      }
      &__name {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 3px;
        font-size: 12px;
        font-style: italic;
        font-weight: light;
        background-color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
    &__description {
      &__job {
        font-size: 18px;
        margin-bottom: 20px;
      }
      &__text {
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .search {
    &__list {
      &__item {
      }
    }
  }

  .team {
    &__article {
      flex-direction: row;
    }
  }
}
