.card {
  display: flex;
  position: relative;
  justify-content: flex-start;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
  gap: 0px;
  &__remove {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
    padding: 10px;
    &:after {
      content: "\e9ad";
      font-family: "icomoon";
      color: lightseagreen;
      font-size: 20px;
      cursor: pointer;
    }
  }
  overflow: hidden;
  &__imgholder {
    overflow: hidden;
    position: relative;
    width: 50%;

    &__img {
      display: block;
      width: 100%;
      aspect-ratio: 3/2;
    }
    &__flag {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      padding: 5px;
      border-radius: 50%;
    }
  }
  &__text {
    padding: 10px;
    width: 100px;
    &__link {
      display: block;
      width: 140px;
      height: 30px;
      word-break: break-all;
      &__title {
        font-size: 14px;

        width: 100%;
      }
    }
  }
}
