@use "./base/reset";
@use "./base/extends";
@use "./base/variables" as *;
@use "./base/fonts" as *;
@use "./base/mixins" as *;
@use "./base/icons.scss";
@use "../modules/page_modules/page_modules"; //base modules
@use "../modules/standard_modules/standard_modules"; //header & footer
@use "../modules/page_modules/subcomp_zoek/card.scss";

//GLOBALS
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
}
.container {
  max-width: 1200px;
  padding: 30px 20px;
  margin: auto;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 20px;
  color: #50808e;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid #50808e;
  margin-bottom: 20px;
}

h3 {
  color: #50808e;
}

a {
  text-decoration: none;
}
